$orange-text: orangered; 
$white-text: white; 
$black-text: rgb(33, 41, 49); 

$title-font: 'Source Sans Pro', sans-serif; 
$type-writer-font: 'Courier New', Courier, monospace; 
$sub-text-font: 'Merriweather', serif; 

$title-size: 1.5em; 
$title-sub-size: 1.25em; 
$sub-text-size: 0.95em; 
$sub-sub-text-size: 0.85em; 


.center {
    display: flex; 
    justify-content: center;
    align-items: center; 
} 

body {
    margin: 0px; 

    .back-img-container {
        position: fixed; 
        width: 100%; 
        height: 100%; 
        z-index: -10; 

        .back-img {
            width: 100%; 
            height: 100vh; 
            background: linear-gradient(180deg, rgb(100, 55, 39) 0%, rgb(41, 19, 9) 100%); 
            background-position: bottom; 
            background-repeat: no-repeat; 
            background-size: cover;  
        }
    } 

    .memes-content-top-page {
        width: 100%; 
        height: 25vh; 
        @extend .center; 
        padding: 50px 0px; 

        button {
            position: relative; 
            width: 250px; 
            height: 55px; 
            background-color: rgba(0, 0, 0, 0); 
            color: $orange-text; 
            border: 2px solid $orange-text; 
            font-weight: 600; 
            cursor: pointer; 
            transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1); 
            outline: none; 
            z-index: 5; 
            opacity: 1; 

            &:hover {
                color: $white-text !important; 
                border: none; 
            } 

            &:hover::before {
                left: 0%; 
                right: auto; 
                width: 100%; 
            } 

            &::before {
                position: absolute; 
                top: 0px; 
                right: 0px; 
                height: 100%; 
                width: 0px; 
                z-index: -1; 
                content: '';  
                background: $orange-text; 
                transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1); 
            }
        }
    } 

    .memes-content-page {
        width: 100%; 
        height: auto; 
        background-color: $white-text; 
        @extend .center; 
        flex-direction: column; 

        h1 {
            font-family: $title-font; 
            text-align: center; 
            font-size: $title-size + 0.25em; 
        } 

        .go-back-button-container {
            width: 90%; 
            height: auto; 
            @extend .center; 
            justify-content: space-evenly; 
            padding: 50px 0px; 

            button { 
                font-size: $sub-text-size; 
                width: 50px; 
                height: 50px; 
                background-color: white; 
                border: 2px solid rgb(235, 235, 235); 
                cursor: pointer; 
                transition: all ease 500ms; 

                &:hover {
                    background-color: rgb(235, 235, 235); 
                }
            }

            .edition-button-container {
                width: auto; 
                height: auto; 
                @extend .center; 
            }
        } 

        .random-button-container {
            width: 100%; 
            height: auto; 
            @extend .center; 

            button {
                font-size: $sub-text-size; 
                position: relative; 
                width: 165px; 
                height: 50px; 
                color: $orange-text; 
                background-color: white;
                border: 2px solid $orange-text; 
                font-weight: 600; 
                cursor: pointer; 
                transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
                outline: none; 
                z-index: 3; 
                opacity: 1; 

                &:hover {
                    color: $white-text !important;
                    border: none; 
                } 
    
                &:hover::before {
                    left: 0%;
                    right: auto;
                    width: 100%;
                } 

                &::before {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    height: 100%;
                    width: 0px;
                    z-index: -1;
                    content: '';
                    background: $orange-text; 
                    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
                }
            }
        }

        .meme-grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(300px, 2fr)); 
            justify-items: center; 
            grid-row-gap: 50px; 
            margin: 50px 0px; 

            .meme-img-container {
                @extend .center; 

                img {
                width: 90%; 
                    height: auto;  
                }
            }
        }
    }
} 

@media only screen and (min-width: 1200px) {
    body .memes-content-page .meme-grid-container {
        width: 85%; 
    }
} 

@media only screen and (min-width: 1700px) {
    body .memes-content-page .meme-grid-container {
        width: 75%; 
    }
} 

@media only screen and (min-width: 2000px) {
    body .memes-content-page .meme-grid-container {
        width: 75%; 
    }
}
